.git
.gitattributes
.tool-versions
.husky
git-hooks
node_modules
**/__snapshots__
**/*.sh
**/*.env
**/*.sample
**/*.example
**/*.eslintignore
**/*.gitignore
**/*.dockerignore
**/*.prettierignore
**/*.lock
**/*.md
**/*.svg
**/*.png
coverage
CODEOWNERS
dist
prisma
.generated
*.generated*
